<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My_Project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/edit_style.css' %}">
    </head>
    <body>
        <h1>Enter the details</h1>

        <form action="{% url 'edit' data.id %}" method="post">
            {% csrf_token %}
            <input type="text" name="task" placeholder="Enter task" required>
            <input type="datetime-local" name="created_at" required>
            <input type="datetime-local" name="completed_at" required>
            <button type="submit">Submit</button>
        </form>

    </body>
</html>